{% extends 'base_accounts.html' %}

{% block title %}Confirm your email address{% endblock %}

{% block content %}
    <div class="wrap-login100 p-l-55 p-r-55 p-t-40 p-b-45">
        <div class="text-center" style="color:purple;">
            <i class="zmdi zmdi-email-open zmdi-hc-5x"></i>
        </div>
        <hr>
        <b>Please confirm your email address to complete the registration.
        Check your email for a link to activate your account. If it doesn't appear within a few minutes, check your
        spam folder.
        </b>
    </div>

{% endblock %}
