{% load static %}
{% load i18n %}
{% load notification_tags %}
<!DOCTYPE html>
<html>

<head>

    <title>{% block title %}MassTransit Advisor{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}">
	<meta name="author" content="coder">
	<meta name="description" content="">
    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    {% block stylesheet %}


    {% endblock %}
    {% block extrahead %}
        {% include_notify_js_variables %}
    {% endblock %}
</head>

<body>

    {% block body %}

    {% block breadcrumb %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% endblock body %}

    <!-- JAVASCRIPTS -->

    {% block js %}

    {% endblock js %}
    <script src ="{% static 'notify/notifyX.js' %}"></script>
    <script>

        var ajax_call = function () {
            var the_last = $('.notification-list .scroll-div li').first().attr('data-nf-id');
            var unread_count;
            var nf_str="";
            $.ajax({
                type:'GET',
                url:'/notification/api/update',
                data: {
                    'flag': the_last,
                },
                cache: false,
                dataType: 'json',
                async:false,
                success:function (data) {
                    unread_count = data.unread_count;
                    if(parseInt(data.retrieved) > 0){
                        for (var i = 0; i < parseInt(data.retrieved); i++)
                            nf_str += (data.notifications[i]).html;
                    }
                }
            });
            if(parseInt(unread_count) > 0){
                $('.un-read-count').css({'visibility':'visible',});
                $('.un-read-count').text(unread_count);
                $('.notification-list .scroll-div').prepend(nf_str);
            }
        };

        {#setInterval(ajax_call, 2000);#}

    </script>

</body>

</html>