{% extends 'base_pages.html' %}
{% load static %}
{% block title %}Survey Question{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-image-checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    {% block css %}
        <style>
            .input-nationality{
                position: relative !important;
                cursor: pointer;
                height: 20px !important;
                width: 100px !important;
                left: 0px !important;
            }

        </style>

    {% endblock css %}
{% endblock %}

{% block content %}
<!-- Start banner Area -->
<section class="banner-area">
    <div class="container box_1170">
        <div class="row review-step-1">
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start main body Area -->
    <div id="review_section" class="main-body section-gap mt--30" style="background-image: url('{% static "img/bg-01.jpg" %}');">
		<div class="container box_1170">
			<div id="steps_review_detail_home">
				<form method="POST" id="survey-form" class="survey-form" >
                    {% csrf_token %}
						<h4></h4>

						<section>
							<h3 class="step2-header-title">GENDER</h3>
							<div class="survey-regarding align-items-center d-flex flex-column">

								<div class="row bulgy-radios align-items-center justify-content-center d-flex flex-column" role="radiogroup" aria-labelledby="bulgy-radios-label">
									<div class="col-lg-2 col-md-4 col-sm-4 col-6">

										<label>
											<input class="customRadio" type="radio" name="gender" value="1" checked/>
											<span class="radio"></span>
											<span class="label">Male</span>
										</label>
                                        <script>
                                            $(document).ready(function () {
                                            var temp = document.getElementsByName('gender');
                                            temp[{{ sur.gender }}-1].checked = true
                                            });
                                        </script>
										<label>
											<input class="customRadio" type="radio" name="gender" value="2"/>
											<span class="radio"></span>
											<span class="label">Female</span>
										</label>
									</div>
								</div>

							</div>
						</section>

						<h4></h4>
						<section>
							<h3 class="step2-header-title">AGE (years)</h3>
							<div class="survey-regarding align-items-center d-flex flex-column">

								<div class="row bulgy-radios align-items-center justify-content-center d-flex flex-column" role="radiogroup" aria-labelledby="bulgy-radios-label">
									<div class="col-lg-1 col-md-4 col-sm-4 col-4">
										<label>
											<input type="radio" name="age" value="1" checked/>
											<span class="radio"></span>
											<span class="label">< 19</span>
										</label>

										<label>
											<input type="radio" name="age" value="2"/>
											<span class="radio"></span>
											<span class="label">20-29</span>
										</label>
										<label>
											<input type="radio" name="age" value="3"/>
											<span class="radio"></span>
											<span class="label">30-39</span>
										</label>
										<label>
											<input type="radio" name="age" value="4"/>
											<span class="radio"></span>
											<span class="label">40-49</span>
										</label>
										<label>
											<input type="radio" name="age" value="5"/>
											<span class="radio"></span>
											<span class="label">50-59</span>
										</label>
                                        <script>
                                            $(document).ready(function () {
                                            var temp = document.getElementsByName('age');
                                            temp[{{ sur.age }}-1].checked = true
                                            });
                                        </script>
									</div>
								</div>

							</div>
						</section>

						<h4></h4>
						<section>
							<h3 class="step2-header-title">RACE</h3>
							<div class="survey-regarding align-items-center d-flex flex-column">

								<div class="row bulgy-radios align-items-center justify-content-center d-flex flex-column" role="radiogroup" aria-labelledby="bulgy-radios-label">
									<div class="col-lg-3 col-md-6 col-sm-8 col-11">
										<label>
											<input class="customRadio" type="radio" name="race" value="1" checked/>
											<span class="radio"></span>
											<span class="label">Malay</span>
										</label>

										<label>
											<input class="customRadio" type="radio" name="race" value="2"/>
											<span class="radio"></span>
											<span class="label">Chinese</span>
										</label>
										<label>
											<input class="customRadio" type="radio" name="race" value="3"/>
											<span class="radio"></span>
											<span class="label">Indian</span>
										</label>
										<label>
											<input class="customRadio" type="radio" name="race" value="4"/>
											<span class="radio"></span>
											<span class="label" id="nationality">Others: </span>
                                            <div class="wrap-input200 validate-input" style="left: 100px; width: 100px; margin-top: -20px;">

										    <input class="input200 input-nationality" type="text" id="nat_input" disabled/>
										    <span class="focus-input200" data-symbol="&#xf1f0;"></span>
										</div>
										</label>
                                        <script>
                                            $(document).ready(function () {
                                            var temp = document.getElementsByName('race');
                                            temp[{{ sur.race }}-1].checked = true
                                                if(temp[3].checked == true)
                                                {
                                                    $('#nat_input').removeAttr('disabled');

                                                    $('#nat_input').val('{{ sur.nationality }}');
                                                }
                                            });
                                        </script>


									</div>
								</div>

							</div>
						</section>

						<h4></h4>
						<section>
							<h3 class="step2-header-title">RESIDENTIAL STATUS</h3>
							<div class="survey-regarding align-items-center d-flex flex-column">
								<div class="row bulgy-radios align-items-center justify-content-center d-flex flex-column" role="radiogroup" aria-labelledby="bulgy-radios-label">
									<div class="col-lg-3 col-md-5 col-sm-8 col-10">
										<label>
											<input type="radio" name="residential_status" value="1" checked/>
											<span class="radio"></span>
											<span class="label">Malaysian Resident</span>
										</label>

										<label>
											<input type="radio" name="residential_status" value="2"/>
											<span class="radio"></span>
											<span class="label">Foreign Worker</span>
										</label>
										<label>
											<input type="radio" name="residential_status" value="3"/>
											<span class="radio"></span>
											<span class="label">Visitor/Tourist</span>
										</label>
                                        <script>
                                            $(document).ready(function () {
                                            var temp = document.getElementsByName('residential_status');
                                            temp[{{ sur.residential }}-1].checked = true
                                            });
                                        </script>
									</div>
								</div>
							</div>
						</section>

						<h4></h4>
						<section>
							<h3 class="step2-header-title">OCCUPATION</h3>
							<div class="survey-regarding align-items-center d-flex flex-column">
								<div class="row bulgy-radios align-items-center justify-content-center d-flex flex-column" role="radiogroup" aria-labelledby="bulgy-radios-label">
									<div class="col-lg-3 col-md-5 col-sm-8 col-10">
										<label>
											<input type="radio" name="occupation" value="1" checked/>
											<span class="radio"></span>
											<span class="label">Student</span>
										</label>

										<label>
											<input type="radio" name="occupation" value="2"/>
											<span class="radio"></span>
											<span class="label">Private Sector</span>
										</label>
										<label>
											<input type="radio" name="occupation" value="3"/>
											<span class="radio"></span>
											<span class="label">Public Sector</span>
										</label>
										<label>
											<input type="radio" name="occupation" value="4"/>
											<span class="radio"></span>
											<span class="label">Not Working/Retired</span>
										</label>
                                        <script>
                                            $(document).ready(function () {
                                            var temp = document.getElementsByName('occupation');
                                            temp[{{ sur.occupation }}-1].checked = true
                                            });
                                        </script>
									</div>
								</div>
							</div>
						</section>

						<h4></h4>
						<section>
							<h3 class="step2-header-title">MARITAL STATUS</h3>
							<div class="survey-regarding align-items-center d-flex flex-column">
								<div class="row bulgy-radios align-items-center justify-content-center d-flex flex-column" role="radiogroup" aria-labelledby="bulgy-radios-label">
									<div class="col-lg-2 col-md-4 col-sm-4 col-6">
										<label>
											<input type="radio" name="marital_status" value="1" checked/>
											<span class="radio"></span>
											<span class="label">Single</span>
										</label>

										<label>
											<input type="radio" name="marital_status" value="2"/>
											<span class="radio"></span>
											<span class="label">Married</span>
										</label>
                                        <script>
                                            $(document).ready(function () {
                                            var temp = document.getElementsByName('marital_status');
                                            temp[{{ sur.martial }}-1].checked = true
                                            });
                                        </script>
									</div>
								</div>
							</div>
						</section>

						<h4></h4>
						<section>
							<h3 class="step2-header-title">WHAT TYPE OF VECHICLES DO YOU OWN; AND 	NUMMBER</h3>
							<div class="survey-regarding align-items-center d-flex flex-column">
								<div class="row bulgy-radios align-items-center justify-content-center d-flex flex-column" role="radiogroup" aria-labelledby="bulgy-radios-label">
									<div class="col-lg-2 col-md-4 col-sm-4 col-6">
										<label>
											<input type="radio" name="vechicle_type" value="1" checked />
											<span class="radio"></span>
											<span class="label">Motorcycle</span>
										</label>

										<label>
											<input type="radio" name="vechicle_type" value="2"/>
											<span class="radio"></span>
											<span class="label">Car</span>
										</label>
										<label>
											<input type="radio" name="vechicle_type" value="3"/>
											<span class="radio"></span>
											<span class="label">None</span>
										</label>
                                        <script>
                                            $(document).ready(function () {
                                            var temp = document.getElementsByName('vechicle_type');
                                            temp[{{ sur.vehicle }}-1].checked = true
                                            });
                                        </script>
									</div>
								</div>
							</div>
						</section>

						<h4></h4>
						<section>
							<h3 class="step2-header-title">IF YOU ARE WORKING(either part-time or 	full-time),WHAT IS YOUR AVERAGE MONTHLY INCOME?</h3>
							<div class="survey-regarding align-items-center d-flex flex-column">
								<div class="row bulgy-radios align-items-center justify-content-center d-flex flex-column" role="radiogroup" aria-labelledby="bulgy-radios-label">
									<div class="col-lg-2 col-md-4 col-sm-6 col-8">

										<label>
											<input type="radio" name="time_type" value="1"/>
											<span class="radio"></span>
											<span class="label">< RM 1,000</span>
										</label>

										<label>
											<input type="radio" name="time_type" value="2"/>
											<span class="radio"></span>
											<span class="label">RM 1,000-2,000</span>
										</label>
										<label>
											<input type="radio" name="time_type" value="3"/>
											<span class="radio"></span>
											<span class="label">RM 2,000-3,000</span>
										</label>
										<label>
											<input type="radio" name="time_type" value="4"/>
											<span class="radio"></span>
											<span class="label">RM 3,000-4,000</span>
										</label>
										<label>
											<input type="radio" name="time_type" value="5"/>
											<span class="radio"></span>
											<span class="label">RM 4,000-5,000</span>
										</label>
										<label>
											<input type="radio" name="time_type" value="6"/>
											<span class="radio"></span>
											<span class="label">>RM 5,000</span>

										</label>
                                        <script>
                                            $(document).ready(function () {
                                            var temp = document.getElementsByName('time_type');
                                            temp[{{ sur.income }}-1].checked = true
                                            });
                                        </script>

									</div>
								</div>
							</div>
						</section>
				</form>
			</div>
		</div>
	</div>
<!-- Start main body Area -->

{% endblock %}


{% block js %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery.steps.js' %}"></script>
    <script src="{% static 'js/header-scrolled.js' %}"></script>
    <script src="{% static 'js/survey2.js' %}"></script>
{% endblock js %}