{% extends 'base_pages.html' %}

{% load static %}

{% block content %}
	<!-- Start banner Area -->
	<section class="banner-area mt-70">
		<div class="container box_1170">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content text-center col-lg-8">
					<a href="#" class="primary-btn">Vote your best route</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start Post Silder Area -->
	<section class="post-slider-area">
		<div class="container box_1170">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="owl-carousel active-post-carusel">
						<div class="post-box mb-30">
							<div class="align-items-center justify-content-between d-flex">
								<a href="#" class="align-items-center d-flex flex-column">
									<img src="{% static 'img/icons-stage-bus.png' %}" alt="Stage Bus">
									<p class="mt-10">Stage Bus</p>
								</a>
								<a href="#" class="align-items-center d-flex flex-column">
									<img src="{% static 'img/icons-taxicab.png' %}" alt="Taxicab">
									<p>Taxicab</p>
								</a>
								<a href="#" class="align-items-center d-flex flex-column">
									<img src="{% static 'img/icons-train-rail.png' %}" alt="Train & Rail">
									<p>Train & Rail</p>
								</a>
								<a href="#" class="align-items-center d-flex flex-column">
									<img src="{% static 'img/icons-airport.png' %}" alt="Airport Shuttle">
									<p>Airport Shuttle</p>
								</a>
								<a href="#" class="align-items-center d-flex flex-column">
									<img src="{% static 'img/icons-cycle.png' %}" alt="Cycle & Walk">
									<p>Cycle & Walk</p>
								</a>
								<a href="#" class="align-items-center d-flex flex-column">
									<img src="{% static 'img/icons-more.png' %}" alt="More">
									<p>More</p>
								</a>
							</div>
						</div>

						<div class="post-box mb-30">
							<div class="align-items-center justify-content-between d-flex">
								<a href="#" class="align-items-center d-flex flex-column">
									<img src="{% static 'img/icons-stage-bus.png' %}" alt="">
									<p class="mt-10">Stage Bus</p>
								</a>
								<a href="#" class="align-items-center d-flex flex-column">
									<img src="{% static 'img/icons-taxicab.png' %}" alt="">
									<p>Taxicab</p>
								</a>
								<a href="#" class="align-items-center d-flex flex-column">
									<img src="{% static 'img/icons-train-rail.png' %}" alt="">
									<p>Train & Rail</p>
								</a>
								<a href="#" class="align-items-center d-flex flex-column">
									<img src="{% static 'img/icons-airport.png' %}" alt="">
									<p>Airport Shuttle</p>
								</a>
								<a href="#" class="align-items-center d-flex flex-column">
									<img src="{% static 'img/icons-cycle.png' %}" alt="">
									<p>Cycle & Walk</p>
								</a>
								<a href="#" class="align-items-center d-flex flex-column">
									<img src="{% static 'img/icons-more.png' %}" alt="">
									<p>More</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Start Post Silder Area -->

	<!-- Start main body Area -->
	<div class="main-body section-gap mt--30">
		<div class="container box_1170">
			<h3>From the community</h3>
			<div class="row" style="margin-top: 20px;">
				<div class="col-lg-3 col-md-3 col-sm-6 col-12">
					<div class="single-post-item short">
						<div class="post-header justify-content-between d-flex flex-row">
							<div>
								<label class="nick-name">AL</label>
								<label>@username</label>
							</div>
							<label>2h</label>
						</div>
						<figure>
							<img class="post-img img-fluid" src="{% static 'img/map-1.png' %}" alt="">
						</figure>
						<div class="post-footer">
							<div class="justify-content-between d-flex flex-row">
								<div>
									<img src="{% static 'img/icons-emoji-happy.png' %}" style="max-height: 20px;" />
									<label><span style="font-weight: bold;">Bus</span> / Driver</label>
								</div>
								<label>30 Reviews</label>
							</div>
							<div class="justify-content-between d-flex flex-row" style="margin-top: -10px;">
								<label>Driving Behavior</label>
								<div>
									<img src="{% static 'img/icons-likebutton-after.png' %}" style="max-height: 20px;"/>
									<label>1.3k</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-12">
					<div class="single-post-item short">
						<div class="post-header justify-content-between d-flex flex-row">
							<div>
								<label class="nick-name">AL</label>
								<label>@username</label>
							</div>
							<label>2h</label>
						</div>
						<figure>
							<img class="post-img img-fluid" src="{% static 'img/map-1.png' %}" alt="">
						</figure>
						<div class="post-footer">
							<div class="justify-content-between d-flex flex-row">
								<div>
									<img src="{% static 'img/icons-emoji-happy.png' %}" style="max-height: 20px;" />
									<label><span style="font-weight: bold;">Bus</span> / Driver</label>
								</div>
								<label>30 Reviews</label>
							</div>
							<div class="justify-content-between d-flex flex-row" style="margin-top: -10px;">
								<label>Driving Behavior</label>
								<div>
									<img src="{% static 'img/icons-likebutton-after.png' %}" style="max-height: 20px;"/>
									<label>1.3k</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-12">
					<div class="single-post-item short">
						<div class="post-header justify-content-between d-flex flex-row">
							<div>
								<label class="nick-name">AL</label>
								<label>@username</label>
							</div>
							<label>2h</label>
						</div>
						<figure>
							<img class="post-img img-fluid" src="{% static 'img/map-1.png' %}" alt="">
						</figure>
						<div class="post-footer">
							<div class="justify-content-between d-flex flex-row">
								<div>
									<img src="{% static 'img/icons-emoji-happy.png' %}" style="max-height: 20px;" />
									<label><span style="font-weight: bold;">Bus</span> / Driver</label>
								</div>
								<label>30 Reviews</label>
							</div>
							<div class="justify-content-between d-flex flex-row" style="margin-top: -10px;">
								<label>Driving Behavior</label>
								<div>
									<img src="{% static 'img/icons-likebutton-after.png' %}" style="max-height: 20px;"/>
									<label>1.3k</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-12">
					<div class="single-post-item short">
						<div class="post-header justify-content-between d-flex flex-row">
							<div>
								<label class="nick-name">AL</label>
								<label>@username</label>
							</div>
							<label>2h</label>
						</div>
						<figure>
							<img class="post-img img-fluid" src="{% static 'img/map-1.png' %}" alt="">
						</figure>
						<div class="post-footer">
							<div class="justify-content-between d-flex flex-row">
								<div>
									<img src="{% static 'img/icons-emoji-happy.png' %}" style="max-height: 20px;" />
									<label><span style="font-weight: bold;">Bus</span> / Driver</label>
								</div>
								<label>30 Reviews</label>
							</div>
							<div class="justify-content-between d-flex flex-row" style="margin-top: -10px;">
								<label>Driving Behavior</label>
								<div>
									<img src="{% static 'img/icons-likebutton-after.png' %}" style="max-height: 20px;"/>
									<label>1.3k</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Start main body Area -->

{% endblock %}
