
{% extends 'base_pages.html' %}
{% load static %}

{% block title %}Map view{% endblock %}

{% block stylesheet %}

    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
    <!-- Leaflet JS -->
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.70.0/dist/L.Control.Locate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.70.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block css %}
        <style>
        .mapview {
            left: 50%;
            transform: translateX(-50%);
            position: relative;
            background: white;
            width: 100%;
            margin-top: 35px;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            border-radius: 5px;
            min-width: 180px;
        }
        </style>

    {% endblock css %}
{% endblock %}

{% block content %}
	<!-- Start main body Area -->
	<div id="popular_section" class="main-body section-gap">
		<div class="container box_1170">
			<div class="map-wrapper" style="min-height: 500px;">
                <div class="modal fade" id="mapModal" style="padding-right: 0px !important;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true" >
				  <div class="modal-dialog modal-dialog-slideout" role="document">
				    <div class="modal-content">
				      <div class="modal-header d-flex flex-row">
				        <img src="{% static 'img/logo-white.png' %}">
				        <button type="button" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">×</span>
				        </button>
				      </div>
				      <div class="modal-body">
				      	<div class="slick-carousel">
				      	  <!-- Inside the containing div, add one div for each slide -->
				      	  <div>
				      	    <!-- You can put an image or text inside each slide div -->
				      	    <img src="{% static 'img/map-1.png' %}">
				      	  </div>
				      	  <div>
				      	    <img src="{% static 'img/map-1.png' %}">
				      	  </div>
				      	  <div>
				      	    <img src="{% static 'img/map-1.png' %}">
				      	  </div>
				      	</div>
				      	<div class="userinfo-wrapper d-flex flex-row justify-content-between">
				      		<div class="d-flex flex-row">
					      		<img src="{% static 'img/i8.jpg' %}" style="border-radius: 50%;">
					      		<div class="d-flex flex-column ml-10">
					      			<span class="username">Username</span>
					      			<span>2h</span>
					      		</div>
				      		</div>

				      	</div>
				      	<div class="userfeeling-wrapper d-flex flex-row mt-20">
				      		<img src="{% static 'img/happy.png' %}">
				      		<div>
				      			<span>Bus</span>&nbsp;/&nbsp;Cleanliness
				      		</div>
				      	</div>
				      	<ul class="reviewfeeling-wrapper">
				      		<li>Bus No : <span>ABC 1234</span></li>
				      		<li>Incident Date : <span></span></li>
				      		<li>Incident Time : <span></span></li>
				      		<li>Route No : <span></span></li>
				      		<li>Route Name : <span></span></li>
				      		<li>Bus Operator : <span></span></li>
				      	</ul>
				      	<div class="rating-wrapper justify-content-between d-flex flex-row">
				      		<div class="d-flex flex-row">
					      		<div class="star-ratings-sprite">
					      			<span style="width:52%" class="star-ratings-sprite-rating"></span>
					      		</div>
					      		<span class="ml-10">30 Reviews</span>
				      		</div>
				      		<div>
				      			<img src="{% static 'img/icons-likebutton-before.png' %}">
				      			<span>1.3k</span>
				      		</div>
				      	</div>
				      	<div class="vote-wrapper">
				      		<div class="row">
				      		    <div class="col-10" style="margin: 0 auto;">
				      		      <div id="slider-range"></div>
				      		    </div>
				      		  </div>
				      		  <div class="row slider-labels">
				      		    <div class="col-6 caption">
				      		      <strong style="margin-left: 10px;">Min:</strong> <span id="slider-range-value1"></span>
				      		    </div>
				      		    <div class="col-6 text-right caption pr-10">
				      		      <strong>Max:</strong> <span id="slider-range-value2" style="margin-right: 10px;"></span>
				      		    </div>
				      		  </div>
				      		  <div class="row">
				      		    <div class="col-sm-12">
				      		      <form>
				      		        <input type="hidden" name="min-value" value="">
				      		        <input type="hidden" name="max-value" value="">
				      		      </form>
				      		    </div>
				      		  </div>
				      	</div>

						<div class="comments-wrapper">
							<span>2 Comments</span>
							<ul>
								<li>
									<div class="usercommentinfo-wrapper d-flex flex-row justify-content-between">
										<div class="d-flex flex-row">
											<img class="avatar-img" src="{% static 'img/i8.jpg' %}" style="border-radius: 50%;">
											<div class="wrap-input200 validate-input ml-10">
												<input class="input200" type="text" name="comment" id="user_comment"/>
												<span class="focus-input200" data-symbol="&#xf1f0;"></span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="usercommentinfo-wrapper d-flex flex-row justify-content-between">
										<div class="d-flex flex-row">
											<img class="avatar-img" src="{% static 'img/i8.jpg' %}" style="border-radius: 50%;">
											<div class="d-flex flex-column ml-10">
												<span class="username">Username</span>
												<span>2h</span>
											</div>
										</div>
										<div class="d-flex flex-column">
											<span class="comment-title">Many rubbish on the floor</span>
											<span class="comment-reply">Reply</span>
										</div>
										<div class="follow-info">
											<img class="heart-img" src="{% static 'img/icons-likebutton-before.png' %}">
											<span>1.3k</span>
										</div>
									</div>
								</li>
								<li>
									<div class="usercommentinfo-wrapper d-flex flex-row justify-content-between">
										<div class="d-flex flex-row">
											<img class="avatar-img" src="{% static 'img/i8.jpg' %}" style="border-radius: 50%;">
											<div class="d-flex flex-column ml-10">
												<span class="username">Username</span>
												<span>2h</span>
											</div>
										</div>
										<div class="d-flex flex-column">
											<span class="comment-title">Many rubbish on the floor</span>
											<span class="comment-reply">Reply</span>
										</div>
										<div class="follow-info">
											<img class="heart-img" src="{% static 'img/icons-likebutton-before.png' %}">
											<span>1.3k</span>
										</div>
									</div>
								</li>
							</ul>
						</div>

				      </div>
				      <div class="modal-footer">
                          <div class="text-center">
                            <button type="button" class="sign-in-btn text-uppercase" data-dismiss="modal" style="width: 40%;">Close</button>
                            <button type="submit" class="sign-in-btn text-uppercase" style="width: 40%;">Reply</button>
                        </div>
				      </div>
				    </div>
				  </div>
				</div>

                <div class="mapview">
                    <div id="googleMap" style="height: 530px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- Start main body Area -->
{% endblock %}


{% block js %}
    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery.steps.js' %}"></script>
    <script src="{% static 'js/header-scrolled.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.4.1.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/popular2.js' %}"></script>

    <script>

        var map = L.map('googleMap', {
            center: L.latLng(3.141916, 101.6867),
            zoom: 13
        });
        map.invalidateSize();

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {

        }).addTo(map);
        L.Control.geocoder().addTo(map);
        var lc = L.control.locate({
            position: 'topleft',
            strings: {
                title: "Show me where I am, yo!"
            }
        }).addTo(map);
        myIcon = L.icon({
					iconUrl: "{% static 'images/bus-logo.png' %}", // the url of the img
					iconSize: [40, 40],
					iconAnchor: [20, 20] // the coordinates of the &amp;amp;quot;tip&amp;amp;quot; of the icon ( in this case must be ( icon width/ 2, icon height )
				});
        var newmarker;
        {% for topic_data in topicdatas %}
            {% if topic_data.subcategory == 'Safety' %}
                myIcon = L.icon({
					iconUrl: "{% static 'images/map/bus.png' %}", // the url of the img
					iconSize: [40, 40],
					iconAnchor: [20, 40] // the coordinates of the &amp;amp;quot;tip&amp;amp;quot; of the icon ( in this case must be ( icon width/ 2, icon height )
				});
            {% endif %}
        newmarker = new L.marker([{{ topic_data.location.y }}, {{ topic_data.location.x }}],{
            data:'{{ topic_data.id }}',
            icon: myIcon,
        }).on('click', markerOnClick)
            .addTo(map);
        {% endfor %}

        function markerOnClick(e) {
            myvar = this.options.data;

            $.ajax({
               url:'/ajax/topicdata',
               data:{
                    'myvar' : myvar
               },
               dataType:'json',
               success:function (data) {
                   console.log('ss');
                   {#$('.lbl-1').text(data.am);#}
                   $('#mapModal').modal('show');
                   $('#mapModal').css('padding-right', '0px');
               }
            });
        }
    </script>

{% endblock js %}
