{% extends 'base_pages.html' %}
{% load static %}
{% load i18n %}
{% load notification_tags %}
{% block title %}Get started{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-image-checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% block css %}
    {% endblock css %}
{% endblock %}

{% block content %}

    <!-- Start main body Area -->
	<div id="popular_section" class="main-body section-gap">
		<div class="container box_1170">

            <ul class="mynotification-list">
                <div class="row">
                    <div class="col-lg-10 col-md-9 col-8">
                        <h2>My notifications</h2>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-4" style="margin: auto;">
                        <button class="mark-all-notifications" data-mark-action="read" onclick="window.location.reload();">
                            Mark all as read <i class="fa fa-bell-slash-o"></i>&nbsp;
                        </button>
                    </div>
                </div>

                {% render_notifications using user.notifications.active for box %}
            </ul>
        </div>
    </div>

{% endblock %}


{% block js %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery.steps.js' %}"></script>
    <script src="{% static 'js/header-scrolled.js' %}"></script>
    <script src="{% static 'js/survey1.js' %}"></script>

{% endblock js %}