{% extends 'base_accounts.html' %}

{% block title %}Password changed!{% endblock %}

{% block content %}
    <div class="wrap-login100 p-l-55 p-r-55 p-t-40 p-b-45">

        <h3 class="text-center">Password changed!</h3><br>
        <div class="alert alert-success" role="alert">
            You have successfully changed your password! You may now proceed to log in.
        </div>
        <div class="text-center">
            <a href="{% url 'login' %}" class="sign-in-btn">Return to log in</a>
        </div>
    </div>
{% endblock %}
