{% extends 'base_accounts.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="wrap-login100 p-l-55 p-r-55 p-t-40 p-b-45">
        <form class="login100-form validate-form" method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <h3 class="text-center">Reset password</h3>
            <br>
            <p>Enter your email address and we will send you a link to reset your password.</p>

            <div class="wrap-input100 validate-input" data-validate="Username is required">
                <span for="{{ form.email.id_for_label }}" class="label-input100">EMAIL</span>
                <input type="email"
                       name="{{ form.email.name }}"
                       id="{{ form.email.id_for_label }}"
                       class="input100"
                       placeholder="Type your email"
                       {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
                       maxlength="{{ form.email.field.max_length }}"
                       {% if form.email.field.required %}required{% endif %}>
                <span class="focus-input100" data-symbol="&#xf15a;"></span>

            </div>

            {% for error in form.email.errors %}
                <div class="alert alert-danger">
                    <strong>Error!</strong>
                    {{ error }}
                </div>
            {% endfor %}
            <br>

            <div class="text-center">
                <button type="submit" class="sign-in-btn" >Send password reset email</button>
            </div>
        </form>
    </div>

{% endblock %}
