<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Demystifying Email Design</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding: 50px 0 30px 0;">
                <table align="center" cellpadding="0" cellspacing="0" width="600">
                    <tr>
                        <td align="center" bgcolor="#ffffff" style="padding: 20px 0 10px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;border-bottom: 2px solid #9600b3;">
                            <img src="{{ protocol }}://{{ domain }}/static/img/logo.png" alt="MassTransit Advisor" width="300" style="display: block; max-height: 35px;" />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                        <b>Please reset your password!</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 0 30px 0; color: #000000; font-family: Arial, sans-serif; font-size: 13px;">
                                        <p>
                                        Hi there,<br><br>
                                        Someone asked for a password reset for the email address {{ email }}. Follow the link below: <br>
                                        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} <br><br>
                                        In case you forgot your Community Engagement Portal username: {{ user.username }}<br><br>
                                        If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead. <br><br>
                                        If you've received this mail in error, it's likely that another user entered your email address by mistake while trying
                                        to reset a password. If you didn't initiate the request, you don't need to take any further action and can safely
                                        disregard this email.<br><br>
                                        Thanks,<br><br>
                                        MassTransit Advisor Team<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td width="260" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td style="text-align: center;">

                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#ffffff; padding-top: 50px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="text-align:center; color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
                                        <p style="color: #000000; margin-bottom: 0px;">Copyright ©2020 Masstransitadvisor.com</p>
                                        <p style="color: #000000; margin-top: 0px;">All rights reserved.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>


