{% extends 'base_accounts.html' %}

{% block title %}Change password successful!{% endblock %}

{% block css %}
    <style>
    .card_new{
        width: 40%;
        font-size: 1rem;
        line-height: 1.25;
        background-color: rgba(255, 255, 255, 0.42);
        background-image: none;
        background-clip: padding-box;
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: .25rem;
        color: purple;
        padding: 50px;
    }
    @media(max-width:420px){
        .card_new{
           width:100%;
        }
    }
    </style>
{% endblock css %}


{% block content %}
    <div class="wrap-login100 p-l-55 p-r-55 p-t-40 p-b-45 card_new">
        <h3 style="text-align:center; color:white;">Your password has been changed!</h3>
        <br>
        <div class="text-center">
            <a href="{% url 'login' %}" class="sign-in-btn">
                Return to log in
            </a>
        </div>
    </div>
    </div>
{% endblock %}
