{% extends 'base_accounts.html' %}

{% block title %}
  {% if validlink %}
    Change password for {{ form.user.username }}
  {% else %}
    Reset your password
  {% endif %}
{% endblock %}

{% block content %}
    <div class="wrap-login100 p-l-55 p-r-55 p-t-40 p-b-45">
        <form class="login100-form validate-form" method="post" novalidate>

            {% if validlink %}
                <h3 class="text-center">Change password for @{{ form.user.username }}</h3>
                <br>
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="wrap-input100 validate-input" data-validate="This field is required">
                        <span for="{{ form.new_password1.id_for_label }}" class="label-input100">NEW PASSWORD</span>
                        <input type="password"
                               name="{{ form.new_password1.name }}"
                               id="{{ form.new_password1.id_for_label }}"
                               class="input100"
                               placeholder="Type your new password"
                               {% if form.new_password1.value != None %}value="{{ form.new_password1.value|stringformat:'s' }}"{% endif %}
                               maxlength="{{ form.new_password1.field.max_length }}"
                               {% if form.new_password1.field.required %}required{% endif %}>
                        <span class="focus-input100" data-symbol="&#xf190;"></span>

                    </div>

                    {% for error in form.new_password1.errors %}
                        <div class="alert alert-danger">
                            <strong>Error!</strong>
                            {{ error }}
                        </div>
                    {% endfor %}
                    <br>
                    <div class="wrap-input100 validate-input" data-validate="This field is required">
                        <span for="{{ form.new_password2.id_for_label }}" class="label-input100">NEW PASSWORD CONFIRMATION</span>
                        <input type="password"
                               name="{{ form.new_password2.name }}"
                               id="{{ form.new_password2.id_for_label }}"
                               class="input100"
                               placeholder="Type your new password again"
                               {% if form.new_password2.value != None %}value="{{ form.new_password2.value|stringformat:'s' }}"{% endif %}
                               maxlength="{{ form.new_password2.field.max_length }}"
                               {% if form.new_password2.field.required %}required{% endif %}>
                        <span class="focus-input100" data-symbol="&#xf190;"></span>

                    </div>

                    {% for error in form.new_password2.errors %}
                        <div class="alert alert-danger">
                            <strong>Error!</strong>
                            {{ error }}
                        </div>
                    {% endfor %}
                    <br>
                    <div class="text-center">
                        <button type="submit" class="sign-in-btn">Change password</button>
                    </div>
                </form>
            {% else %}
                <h3 class="text-center">Reset password</h3><br>
                <div class="alert alert-danger" role="alert">
                    It looks like you clicked on an invalid password reset link. Please try again.
                </div>
                <div class="text-center">
                    <a href="{% url 'password_reset' %}" class="sign-in-btn">Request a new password reset link</a>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
