{% extends 'base_accounts.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="wrap-login100 p-l-55 p-r-55 p-t-40 p-b-45">
        <h3 class="text-center">Reset password</h3>
        <br>
        <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your
            spam folder.</p>
        <br>
        <div class="text-center">
            <a href="{% url 'login' %}" class="sign-in-btn">
                Return to log in
            </a>
        </div>
    </div>
{% endblock %}
